In [1]:
#imports
import pandas as pd
import numpy as np

# Read in Suspension Data

In [2]:
# URL of the .txt file
url = 'https://www3.cde.ca.gov/demo-downloads/discipline/suspension23.txt'

# Read in the url with the delimiter and encoding to deal with special characters
df = pd.read_csv(url, delimiter='\t', encoding='ISO-8859-1')

# Check DataFrame
df

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,...,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons
0,2022-23,C,1,NaN,NaN,Alameda,NaN,NaN,All,GF,...,3043,2179,80,2.1,779,1312,86,677,95,94
1,2022-23,C,1,NaN,NaN,Alameda,NaN,NaN,All,GM,...,7030,4448,223,3.9,1616,3573,284,876,264,417
2,2022-23,C,1,NaN,NaN,Alameda,NaN,NaN,All,GX,...,19,15,0,5.1,3,11,0,4,0,1
3,2022-23,C,1,NaN,NaN,Alameda,NaN,NaN,All,RA,...,684,528,16,0.9,111,384,38,85,19,47
4,2022-23,C,1,NaN,NaN,Alameda,NaN,NaN,All,RB,...,2807,1650,78,8.8,895,1365,66,271,96,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226174,2022-23,T,0,NaN,NaN,State,NaN,NaN,Yes,SF,...,369,223,19,4.1,65,191,6,57,32,18
226175,2022-23,T,0,NaN,NaN,State,NaN,NaN,Yes,SH,...,801,559,47,2.2,105,434,29,142,54,37
226176,2022-23,T,0,NaN,NaN,State,NaN,NaN,Yes,SM,...,59,42,5,2.9,6,28,2,15,6,2
226177,2022-23,T,0,NaN,NaN,State,NaN,NaN,Yes,SS,...,14564,10423,773,2.1,2134,7629,545,2652,985,619
226178,2022-23,T,0,NaN,NaN,State,NaN,NaN,Yes,TA,...,18835,13614,1007,1.7,2810,9883,718,3365,1277,782

In [3]:
# Filter to only look at districts and total reporting category
df = df.loc[(df['AggregateLevel'] == 'D') & (df['ReportingCategory'] == 'TA') & (df['CharterYN'] == 'All')]
df

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,...,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons
3170,2022-23,D,1,10017.0,0.0,Alameda,Alameda County Office of Education,District Office,All,TA,...,126,102,9,2.2,28,68,2,13,10,5
3224,2022-23,D,1,61119.0,0.0,Alameda,Alameda Unified,District Office,All,TA,...,397,290,6,2.7,194,89,9,80,6,19
3278,2022-23,D,1,61127.0,0.0,Alameda,Albany City Unified,District Office,All,TA,...,66,50,1,1.4,5,42,3,12,1,3
3314,2022-23,D,1,61143.0,0.0,Alameda,Berkeley Unified,District Office,All,TA,...,265,173,13,1.8,45,123,10,65,14,8
3347,2022-23,D,1,31609.0,0.0,Alameda,California School for the Blind (State Special...,District Office,All,TA,...,4,3,3,5.2,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44316,2022-23,D,58,72736.0,0.0,Yuba,Marysville Joint Unified,District Office,All,TA,...,1214,744,56,6.7,71,816,43,176,75,33
44372,2022-23,D,58,72744.0,0.0,Yuba,Plumas Lake Elementary,NaN,All,TA,...,112,77,7,4.7,3,90,4,4,8,3
44408,2022-23,D,58,72751.0,0.0,Yuba,Wheatland,NaN,All,TA,...,49,40,0,2.7,6,26,1,13,0,3
44461,2022-23,D,58,72769.0,0.0,Yuba,Wheatland Union High,District Office,All,TA,...,29,26,0,2.2,0,22,0,7,0,0
44499,2022-23,D,58,10587.0,0.0,Yuba,Yuba County Office of Education,District Office,All,TA,...,98,48,9,5.5,18,42,3,21,12,2

In [4]:
# Drop not needed columns
df.drop(columns = ['AggregateLevel', 'SchoolCode', 'SchoolName', 'ReportingCategory', 'CharterYN'], inplace = True)

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_23186/2206232230.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['AggregateLevel', 'SchoolCode', 'SchoolName', 'ReportingCategory', 'CharterYN'], inplace = True)

In [5]:
# Look at DataFrame
df

,AcademicYear,CountyCode,DistrictCode,CountyName,DistrictName,CumulativeEnrollment,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons
3170,2022-23,1,10017.0,Alameda,Alameda County Office of Education,4661,126,102,9,2.2,28,68,2,13,10,5
3224,2022-23,1,61119.0,Alameda,Alameda Unified,10690,397,290,6,2.7,194,89,9,80,6,19
3278,2022-23,1,61127.0,Alameda,Albany City Unified,3637,66,50,1,1.4,5,42,3,12,1,3
3314,2022-23,1,61143.0,Alameda,Berkeley Unified,9438,265,173,13,1.8,45,123,10,65,14,8
3347,2022-23,1,31609.0,Alameda,California School for the Blind (State Special...,58,4,3,3,5.2,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44316,2022-23,58,72736.0,Yuba,Marysville Joint Unified,11139,1214,744,56,6.7,71,816,43,176,75,33
44372,2022-23,58,72744.0,Yuba,Plumas Lake Elementary,1652,112,77,7,4.7,3,90,4,4,8,3
44408,2022-23,58,72751.0,Yuba,Wheatland,1476,49,40,0,2.7,6,26,1,13,0,3
44461,2022-23,58,72769.0,Yuba,Wheatland Union High,1159,29,26,0,2.2,0,22,0,7,0,0
44499,2022-23,58,10587.0,Yuba,Yuba County Office of Education,865,98,48,9,5.5,18,42,3,21,12,2

In [19]:
# Defining a function to grab all the years and concat/cleans them
def fetch_and_filter_suspension_data(year, existing_df=None):
    # Need to convert the year integer into a string for the f-string
    
    year_str = str(year)
    # Construct the URL based on the given year
    url = f'https://www3.cde.ca.gov/demo-downloads/discipline/suspension{year_str[-2:]}.txt'
    
    # Read the data from the URL with the specified delimiter and encoding
    df = pd.read_csv(url, delimiter='\t', encoding='ISO-8859-1')
    
    # Filter the DataFrame
    df = df.loc[(df['AggregateLevel'] == 'D') & (df['ReportingCategory'] == 'TA') & (df['CharterYN'] == 'All')]
    
    # Drop unnecessary columns
    df.drop(columns=['AggregateLevel', 'SchoolCode', 'SchoolName', 'ReportingCategory', 'CharterYN'], inplace=True)
    
    # Drop any columns that are unnamed
    df.drop(columns=[col for col in df.columns if 'Unnamed' in col], inplace=True)
    
    # Concatenate with the existing DataFrame if provided
    if existing_df is not None:
        df = pd.concat([existing_df, df], ignore_index=True)
    
    return df

In [20]:
combined_df_suspension = None

# Add data for multiple years
for year in range(2012,2024):
    combined_df_suspension = fetch_and_filter_suspension_data(year, existing_df=combined_df_suspension)
    
# Combine the 'AcademicYear' columns by filling missing values in one with the other
if 'ï»¿AcademicYear' in combined_df_suspension.columns and 'AcademicYear' in combined_df_suspension.columns:
    combined_df_suspension['AcademicYear'] = combined_df_suspension['ï»¿AcademicYear'].fillna(combined_df_suspension['AcademicYear'])
    
# Combine the 'Cumulative Enrollment' columns similarly
if 'Cumulative Enrollment' in combined_df_suspension.columns and 'CumulativeEnrollment' in combined_df_suspension.columns:
    combined_df_suspension['Cumulative Enrollment'] = combined_df_suspension['Cumulative Enrollment'].fillna(combined_df_suspension['CumulativeEnrollment'])
# Drop the original columns that were combined
combined_df_suspension.drop(columns=['ï»¿AcademicYear', 'CumulativeEnrollment'], inplace=True, errors='ignore')

/var/folders/ss/wsd08gpd0hs8m3d7tg_wd4d40000gn/T/ipykernel_23186/4042341360.py:10: DtypeWarning: Columns (21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, delimiter='\t', encoding='ISO-8859-1')

In [21]:
combined_df_suspension

,CountyCode,DistrictCode,CountyName,DistrictName,Cumulative Enrollment,Total Suspensions,Unduplicated Count of Students Suspended (Total),Unduplicated Count of Students Suspended (Defiance-Only),Suspension Rate (Total),Suspension Count Violent Incident (Injury),Suspension Count Violent Incident (No Injury),Suspension Count Weapons Possession,Suspension Count Illicit Drug-Related,Suspension Count Defiance-Only,Suspension Count Other Reasons,AcademicYear
0,1,10017.0,Alameda,Alameda County Office of Education,5603,368,175,88,3.1,39,82,4,41,186,16,2011-12
1,1,31609.0,Alameda,California School for the Blind (State Special...,82,6,5,5,6.1,0,1,0,0,5,0,2011-12
2,1,31617.0,Alameda,California School for the Deaf-Fremont (State ...,442,165,97,19,21.9,34,54,0,41,23,13,2011-12
3,1,61119.0,Alameda,Alameda City Unified,11137,1040,579,238,5.2,304,149,32,108,379,68,2011-12
4,1,61127.0,Alameda,Albany City Unified,3350,174,123,49,3.7,14,34,14,34,63,15,2011-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12333,58,72736.0,Yuba,Marysville Joint Unified,11139,1214,744,56,6.7,71,816,43,176,75,33,2022-23
12334,58,72744.0,Yuba,Plumas Lake Elementary,1652,112,77,7,4.7,3,90,4,4,8,3,2022-23
12335,58,72751.0,Yuba,Wheatland,1476,49,40,0,2.7,6,26,1,13,0,3,2022-23
12336,58,72769.0,Yuba,Wheatland Union High,1159,29,26,0,2.2,0,22,0,7,0,0,2022-23
12337,58,10587.0,Yuba,Yuba County Office of Education,865,98,48,9,5.5,18,42,3,21,12,2,2022-23

In [22]:
combined_df_suspension.isnull().sum()

CountyCode                                                  0
DistrictCode                                                0
CountyName                                                  0
DistrictName                                                0
Cumulative Enrollment                                       0
Total Suspensions                                           0
Unduplicated Count of Students Suspended (Total)            0
Unduplicated Count of Students Suspended (Defiance-Only)    0
Suspension Rate (Total)                                     0
Suspension Count Violent Incident (Injury)                  0
Suspension Count Violent Incident (No Injury)               0
Suspension Count Weapons Possession                         0
Suspension Count Illicit Drug-Related                       0
Suspension Count Defiance-Only                              0
Suspension Count Other Reasons                              0
AcademicYear                                                0
dtype: int64

In [23]:
combined_df_suspension.to_csv('../02_data/001_new_csvs/suspenion.csv')

# Foster Youth Smarter Balanced Test Results Data

In [24]:
# URL of the .txt file
url = 'https://www3.cde.ca.gov/demo-downloads/foster/fytr18.txt'

# Read in the url with the delimiter and encoding to deal with special characters
df = pd.read_csv(url, delimiter='\t', encoding='ISO-8859-1')

df

,CDSCode,AcademicYear,AggregateLevel,County Code,District Code,County Name,District Name,Test Type,Foster Reporting Category,Student Group Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
0,1000000000000,2018-19,County,1,0,Alameda,NaN,ELA,FY,RP,5,4,80.00,4,*,*,*,*
1,1000000000000,2018-19,County,1,0,Alameda,NaN,ELA,FN,RT,7515,7256,96.55,7253,37.87,31.44,16.13,14.56
2,1000000000000,2018-19,County,1,0,Alameda,NaN,ELA,FY,RI,2,2,100.00,2,*,*,*,*
3,1000000000000,2018-19,County,1,0,Alameda,NaN,ELA,FN,RP,1227,1182,96.33,1181,9.91,23.03,27.52,39.54
4,1000000000000,2018-19,County,1,0,Alameda,NaN,ELA,FY,GF,142,120,84.51,118,8.47,19.49,22.03,50.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57604,0,2018-19,State,0,0,NaN,NaN,Math,FN,G4,442124,434730,98.33,434462,20.13,24.99,30.30,24.58
57605,0,2018-19,State,0,0,NaN,NaN,Math,FN,GM,1654690,1611631,97.40,1610203,20.68,19.48,24.19,35.66
57606,0,2018-19,State,0,0,NaN,NaN,Math,FY,RF,85,75,88.24,75,10.67,16.00,24.00,49.33
57607,0,2018-19,State,0,0,NaN,NaN,Math,FN,GF,1579749,1542236,97.63,1541121,18.85,20.75,26.73,33.67
57608,0,2018-19,State,0,0,NaN,NaN,Math,FN,RT,128041,124088,96.91,123986,31.78,23.68,22.52,22.02

In [25]:
# Filter the DataFrame
df = df.loc[(df['AggregateLevel'] == 'District') & (df['Student Group Reporting Category'] == 'TA')]
df

,CDSCode,AcademicYear,AggregateLevel,County Code,District Code,County Name,District Name,Test Type,Foster Reporting Category,Student Group Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
4386,1100170000000,2018-19,District,1,10017,Alameda,Alameda County Office of Education,ELA,FY,TA,10,0,0.00,0,*,*,*,*
4394,1100170000000,2018-19,District,1,10017,Alameda,Alameda County Office of Education,ELA,FN,TA,107,21,19.63,21,4.76,0.00,23.81,71.43
4407,1100170000000,2018-19,District,1,10017,Alameda,Alameda County Office of Education,Math,FY,TA,9,0,0.00,0,*,*,*,*
4425,1100170000000,2018-19,District,1,10017,Alameda,Alameda County Office of Education,Math,FN,TA,108,20,18.52,20,0.00,0.00,5.00,95.00
4443,1316090000000,2018-19,District,1,31609,Alameda,California School for the Blind (State Special...,ELA,FN,TA,19,18,94.74,18,5.56,33.33,38.89,22.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57476,58727510000000,2018-19,District,58,72751,Yuba,Wheatland,Math,FN,TA,882,842,95.46,842,13.06,27.55,33.02,26.37
57493,58727690000000,2018-19,District,58,72769,Yuba,Wheatland Union High,ELA,FN,TA,215,210,97.67,210,19.52,30.95,26.19,23.33
57494,58727690000000,2018-19,District,58,72769,Yuba,Wheatland Union High,ELA,FY,TA,2,2,100.00,2,*,*,*,*
57509,58727690000000,2018-19,District,58,72769,Yuba,Wheatland Union High,Math,FN,TA,215,210,97.67,210,4.76,19.05,30.95,45.24
57511,58727690000000,2018-19,District,58,72769,Yuba,Wheatland Union High,Math,FY,TA,2,2,100.00,2,*,*,*,*

In [ ]:
#make test type a binary column

In [26]:
# Defining a function to grab all the years for us and concat them
def fetch_and_filter_foster_youth_test_results_data(year, existing_df=None):
    year_str = str(year)
    # Construct the URL based on the given year
    url = f'https://www3.cde.ca.gov/demo-downloads/foster/fytr{year_str[-2:]}.txt'
    
    # Read the data from the URL with the specified delimiter and encoding
    df = pd.read_csv(url, delimiter='\t', encoding='ISO-8859-1')
    
    # Filter the DataFrame
    df = df.loc[(df['AggregateLevel'] == 'District') & (df['Student Group Reporting Category'] == 'TA')]
    
    # Drop unnecessary columns
    df.drop(columns=['AggregateLevel', 'CDSCode', 'Student Group Reporting Category'], inplace=True)
    
    # Drop any columns that are unnamed
    df.drop(columns=[col for col in df.columns if 'Unnamed' in col], inplace=True)
    
    # Concatenate with the existing DataFrame if provided
    if existing_df is not None:
        df = pd.concat([existing_df, df], ignore_index=True)
    
    return df

In [27]:
combined_df_ytr = None

# Add data for multiple years
for year in range(2014,2019):
    combined_df_ytr = fetch_and_filter_foster_youth_test_results_data(year, existing_df=combined_df_ytr)

In [29]:
#Check DataFrame
combined_df_ytr

,AcademicYear,County Code,District Code,County Name,District Name,Test Type,Foster Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
0,2014-15,1,9884,Alameda,NaN,ELA,FN,1,1,100.00,1,*,*,*,*
1,2014-15,1,9884,Alameda,NaN,Math,FN,1,1,100.00,1,*,*,*,*
2,2014-15,1,10017,Alameda,Alameda County Office of Education,ELA,FN,1822,1589,87.21,1510,11.52,18.68,24.04,45.76
3,2014-15,1,10017,Alameda,Alameda County Office of Education,ELA,FY,55,27,49.09,17,0.00,5.88,17.65,76.47
4,2014-15,1,10017,Alameda,Alameda County Office of Education,Math,FY,55,29,52.73,18,0.00,5.56,0.00,94.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18057,2018-19,58,72751,Yuba,Wheatland,Math,FN,882,842,95.46,842,13.06,27.55,33.02,26.37
18058,2018-19,58,72769,Yuba,Wheatland Union High,ELA,FN,215,210,97.67,210,19.52,30.95,26.19,23.33
18059,2018-19,58,72769,Yuba,Wheatland Union High,ELA,FY,2,2,100.00,2,*,*,*,*
18060,2018-19,58,72769,Yuba,Wheatland Union High,Math,FN,215,210,97.67,210,4.76,19.05,30.95,45.24
18061,2018-19,58,72769,Yuba,Wheatland Union High,Math,FY,2,2,100.00,2,*,*,*,*

In [30]:
# Check for missing values
combined_df_ytr.isnull().sum()

AcademicYear                       0
County Code                        0
District Code                      0
County Name                        0
District Name                     18
Test Type                          0
Foster Reporting Category          0
Number of Students Enrolled        0
Number of Students Tested          0
Enrolled Students Tested (%)       0
Number of Students with Scores     0
Standard Exceeded (%)              0
Standard Met (%)                   0
Standard Nearly Met (%)            0
Standard Not Met (%)               0
dtype: int64

In [31]:
# Find the null values in the column
combined_df_ytr.loc[combined_df_ytr['District Name'].isnull()]

,AcademicYear,County Code,District Code,County Name,District Name,Test Type,Foster Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
0,2014-15,1,9884,Alameda,NaN,ELA,FN,1,1,100.0,1,*,*,*,*
1,2014-15,1,9884,Alameda,NaN,Math,FN,1,1,100.0,1,*,*,*,*
6,2014-15,1,12169,Alameda,NaN,ELA,FN,1,1,100.0,0,*,*,*,*
7,2014-15,1,12169,Alameda,NaN,Math,FN,1,1,100.0,0,*,*,*,*
8,2014-15,1,12276,Alameda,NaN,ELA,FN,1,1,100.0,1,*,*,*,*
9,2014-15,1,12276,Alameda,NaN,Math,FN,1,1,100.0,1,*,*,*,*
10,2014-15,1,19982,Alameda,NaN,ELA,FN,1,1,100.0,1,*,*,*,*
11,2014-15,1,19982,Alameda,NaN,Math,FN,1,1,100.0,1,*,*,*,*
12,2014-15,1,20303,Alameda,NaN,ELA,FN,1,0,0.0,0,*,*,*,*
13,2014-15,1,20303,Alameda,NaN,Math,FN,1,0,0.0,0,*,*,*,*
962,2014-15,19,33746,Los Angeles,NaN,ELA,FN,4,1,25.0,1,*,*,*,*
963,2014-15,19,33746,Los Angeles,NaN,ELA,FY,1,1,100.0,1,*,*,*,*
964,2014-15,19,33746,Los Angeles,NaN,Math,FN,4,1,25.0,1,*,*,*,*
965,2014-15,19,33746,Los Angeles,NaN,Math,FY,1,1,100.0,1,*,*,*,*
1312,2014-15,19,95836,Los Angeles,NaN,ELA,FN,2,0,0.0,0,*,*,*,*
1313,2014-15,19,95836,Los Angeles,NaN,Math,FN,2,0,0.0,0,*,*,*,*
2380,2014-15,37,86403,San Diego,NaN,ELA,FN,1,1,100.0,1,*,*,*,*
2381,2014-15,37,86403,San Diego,NaN,Math,FN,1,1,100.0,1,*,*,*,*

In [32]:
# Drop the null rows since the data for the rows are limited anyways
combined_df_ytr.dropna(inplace = True)

In [33]:
# Check DataFrame
combined_df_ytr

,AcademicYear,County Code,District Code,County Name,District Name,Test Type,Foster Reporting Category,Number of Students Enrolled,Number of Students Tested,Enrolled Students Tested (%),Number of Students with Scores,Standard Exceeded (%),Standard Met (%),Standard Nearly Met (%),Standard Not Met (%)
2,2014-15,1,10017,Alameda,Alameda County Office of Education,ELA,FN,1822,1589,87.21,1510,11.52,18.68,24.04,45.76
3,2014-15,1,10017,Alameda,Alameda County Office of Education,ELA,FY,55,27,49.09,17,0.00,5.88,17.65,76.47
4,2014-15,1,10017,Alameda,Alameda County Office of Education,Math,FY,55,29,52.73,18,0.00,5.56,0.00,94.44
5,2014-15,1,10017,Alameda,Alameda County Office of Education,Math,FN,1822,1602,87.93,1487,8.61,13.79,27.98,49.63
14,2014-15,1,31609,Alameda,California School for the Blind (State Special...,ELA,FN,21,16,76.19,15,0.00,0.00,46.67,53.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18057,2018-19,58,72751,Yuba,Wheatland,Math,FN,882,842,95.46,842,13.06,27.55,33.02,26.37
18058,2018-19,58,72769,Yuba,Wheatland Union High,ELA,FN,215,210,97.67,210,19.52,30.95,26.19,23.33
18059,2018-19,58,72769,Yuba,Wheatland Union High,ELA,FY,2,2,100.00,2,*,*,*,*
18060,2018-19,58,72769,Yuba,Wheatland Union High,Math,FN,215,210,97.67,210,4.76,19.05,30.95,45.24
18061,2018-19,58,72769,Yuba,Wheatland Union High,Math,FY,2,2,100.00,2,*,*,*,*

In [34]:
combined_df_ytr.to_csv('../02_data/001_new_csvs/foster_youth_test_result.csv')

# Homeless Enrollment

In [35]:
# URL of the .txt file
url = 'https://www3.cde.ca.gov/demo-downloads/homeless/hse2223.txt'

# Read in the url with the delimiter and encoding to deal with special characters
df = pd.read_csv(url, delimiter='\t', encoding='ISO-8859-1')

df

,Academic Year,Aggregate Level,County Code,District Code,School Code,County Name,District Name,School Name,Charter School,DASS,...,Temporarily Doubled Up,Temporary Shelters,Hotels/Motels,Temporarily Unsheltered,Missing/Unknown,Temporarily Doubled Up (percent),Temporary Shelters (percent),Hotels/Motels (percent),Temporarily Unsheltered (percent),Missing/Unknown (percent)
0,2022-23,T,0,NaN,NaN,State,NaN,NaN,All,All,...,100218,8113,7160,4505,2,83.5,6.8,6.0,3.8,0.0
1,2022-23,T,0,NaN,NaN,State,NaN,NaN,All,No,...,95911,7393,6728,4090,2,84.0,6.5,5.9,3.6,0.0
2,2022-23,T,0,NaN,NaN,State,NaN,NaN,All,Yes,...,7454,1054,720,623,0,75.7,10.7,7.3,6.3,0.0
3,2022-23,T,0,NaN,NaN,State,NaN,NaN,No,All,...,93277,7196,6578,3865,2,84.1,6.5,5.9,3.5,0.0
4,2022-23,T,0,NaN,NaN,State,NaN,NaN,No,No,...,90949,6957,6367,3744,2,84.2,6.4,5.9,3.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146794,2022-23,S,58,10587.0,5830047.0,Yuba,Yuba County Office of Education,Harry P B Carden,No,Yes,...,1,1,0,0,0,50.0,50.0,0.0,0.0,0.0
146795,2022-23,S,58,10587.0,113274.0,Yuba,Yuba County Office of Education,Thomas E. Mathews Community,No,Yes,...,7,1,0,1,0,77.8,11.1,0.0,11.1,0.0
146796,2022-23,S,58,10587.0,5830112.0,Yuba,Yuba County Office of Education,Yuba County Career Preparatory Charter,Yes,Yes,...,22,1,2,1,0,84.6,3.8,7.7,3.8,0.0
146797,2022-23,S,58,10587.0,6069249.0,Yuba,Yuba County Office of Education,Yuba County Special Education,No,Yes,...,7,1,1,0,0,77.8,11.1,11.1,0.0,0.0
146798,2022-23,S,58,10587.0,117242.0,Yuba,Yuba County Office of Education,Yuba Environmental Science Charter Academy,Yes,No,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0

In [36]:
df = df.loc[(df['Aggregate Level'] == 'D') & (df['Reporting Category'] == 'TA')]
df

,Academic Year,Aggregate Level,County Code,District Code,School Code,County Name,District Name,School Name,Charter School,DASS,...,Temporarily Doubled Up,Temporary Shelters,Hotels/Motels,Temporarily Unsheltered,Missing/Unknown,Temporarily Doubled Up (percent),Temporary Shelters (percent),Hotels/Motels (percent),Temporarily Unsheltered (percent),Missing/Unknown (percent)
721,2022-23,D,1,10017.0,NaN,Alameda,Alameda County Office of Education,NaN,All,All,...,69,55,13,7,0,47.9,38.2,9.0,4.9,0.0
722,2022-23,D,1,10017.0,NaN,Alameda,Alameda County Office of Education,NaN,All,No,...,16,3,4,1,0,66.7,12.5,16.7,4.2,0.0
723,2022-23,D,1,10017.0,NaN,Alameda,Alameda County Office of Education,NaN,All,Yes,...,53,52,9,6,0,44.2,43.3,7.5,5.0,0.0
724,2022-23,D,1,10017.0,NaN,Alameda,Alameda County Office of Education,NaN,No,All,...,5,41,5,1,0,9.6,78.8,9.6,1.9,0.0
725,2022-23,D,1,10017.0,NaN,Alameda,Alameda County Office of Education,NaN,No,Yes,...,5,41,5,1,0,9.6,78.8,9.6,1.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146750,2022-23,D,58,10587.0,NaN,Yuba,Yuba County Office of Education,NaN,No,All,...,14,3,1,1,0,73.7,15.8,5.3,5.3,0.0
146751,2022-23,D,58,10587.0,NaN,Yuba,Yuba County Office of Education,NaN,No,Yes,...,14,3,1,1,0,73.7,15.8,5.3,5.3,0.0
146752,2022-23,D,58,10587.0,NaN,Yuba,Yuba County Office of Education,NaN,Yes,All,...,22,1,2,1,0,84.6,3.8,7.7,3.8,0.0
146753,2022-23,D,58,10587.0,NaN,Yuba,Yuba County Office of Education,NaN,Yes,No,...,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
146754,2022-23,D,58,10587.0,NaN,Yuba,Yuba County Office of Education,NaN,Yes,Yes,...,22,1,2,1,0,84.6,3.8,7.7,3.8,0.0

In [37]:
# Defining a function to grab all the years for us and concat them
def fetch_and_filter_homeless_data(start_year, end_year=None, existing_df=None):
    if end_year is None:
        end_year = start_year + 1
    year_str = f'{str(start_year)[-2:]}{str(end_year)[-2:]}'
    # Construct the URL based on the given year
    url = f'https://www3.cde.ca.gov/demo-downloads/homeless/hse{year_str}.txt'
    
    # Read the data from the URL with the specified delimiter and encoding
    df = pd.read_csv(url, delimiter='\t', encoding='ISO-8859-1')
    
    # Filter the DataFrame
    df = df.loc[(df['Aggregate Level'] == 'D') & (df['Reporting Category'] == 'TA') & (df['Charter School'] == 'All') & (df['DASS'] == 'All')]
    
    # Drop unnecessary columns
    df.drop(columns=['Aggregate Level', 'School Code', 'School Name'], inplace=True)
    
    # Drop any columns that are unnamed
    df.drop(columns=[col for col in df.columns if 'Unnamed' in col], inplace=True)
    
    # Concatenate with the existing DataFrame if provided
    if existing_df is not None:
        df = pd.concat([existing_df, df], ignore_index=True)
    
    return df

In [38]:
combined_df = None

# Add data for multiple years
for year in range(2019,2023):
    combined_df = fetch_and_filter_homeless_data(year, end_year=None, existing_df=combined_df)

In [39]:
combined_df

,Academic Year,County Code,District Code,County Name,District Name,Charter School,DASS,Reporting Category,Cumulative Enrollment,Homeless Student Enrollment,Temporarily Doubled Up,Temporary Shelters,Hotels/Motels,Temporarily Unsheltered,Missing/Unknown,Temporarily Doubled Up (percent),Temporary Shelters (percent),Hotels/Motels (percent),Temporarily Unsheltered (percent),Missing/Unknown (percent)
0,2019-20,1,10017.0,Alameda,Alameda County Office of Education,All,All,TA,5037,96,23,58,5,8,2,24.0,60.4,5.2,8.3,2.1
1,2019-20,1,61119.0,Alameda,Alameda Unified,All,All,TA,11621,108,83,17,7,1,0,76.9,15.7,6.5,0.9,0.0
2,2019-20,1,61127.0,Alameda,Albany City Unified,All,All,TA,3729,8,6,0,2,0,0,75.0,0.0,25.0,0.0,0.0
3,2019-20,1,61143.0,Alameda,Berkeley Unified,All,All,TA,10058,243,196,30,15,2,0,80.7,12.3,6.2,0.8,0.0
4,2019-20,1,31609.0,Alameda,California School for the Blind (State Special...,All,All,TA,74,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4096,2022-23,58,72736.0,Yuba,Marysville Joint Unified,All,All,TA,11139,530,396,18,78,38,0,74.7,3.4,14.7,7.2,0.0
4097,2022-23,58,72744.0,Yuba,Plumas Lake Elementary,All,All,TA,1652,15,13,2,0,0,0,86.7,13.3,0.0,0.0,0.0
4098,2022-23,58,72751.0,Yuba,Wheatland,All,All,TA,1476,75,66,0,0,9,0,88.0,0.0,0.0,12.0,0.0
4099,2022-23,58,72769.0,Yuba,Wheatland Union High,All,All,TA,1159,50,37,2,3,8,0,74.0,4.0,6.0,16.0,0.0
4100,2022-23,58,10587.0,Yuba,Yuba County Office of Education,All,All,TA,865,45,36,4,3,2,0,80.0,8.9,6.7,4.4,0.0

In [40]:
combined_df.to_csv('../02_data/001_new_csvs/homeless.csv')